In [29]:
import pandas as pd
df = pd.read_csv('/content/Restaurant reviews.csv')
df.drop(['Restaurant','Reviewer','Metadata','Time','Pictures'],inplace=True,axis=1)
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  9955 non-null   object
 1   Rating  9962 non-null   object
dtypes: object(2)
memory usage: 156.4+ KB

In [30]:
df.dropna(inplace=True)

In [31]:
df=df[df.Rating!='Like']
df.reset_index(inplace=True,drop=True)
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9954 entries, 0 to 9953
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  9954 non-null   object
 1   Rating  9954 non-null   object
dtypes: object(2)
memory usage: 155.7+ KB

In [32]:
def fun(x):
  x=float(x)
  if(x<=2):
    return -1
  elif x==3:
    return 0
  else:
    return 1
df['Rating']=df.Rating.apply(lambda x: fun(x))

In [33]:
df.tail()

                                                 Review  Rating
9949  Madhumathi Mahajan Well to start with nice cou...       0
9950  This place has never disappointed us.. The foo...       1
9951  Bad rating is mainly because of "Chicken Bone ...      -1
9952  I personally love and prefer Chinese Food. Had...       1
9953  Checked in here to try some delicious chinese ...       1

In [34]:
y = df['Rating']
x = list(df['Review'])
# print(x)
type(x)
df.info()
df.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9954 entries, 0 to 9953
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  9954 non-null   object
 1   Rating  9954 non-null   int64
dtypes: int64(1), object(1)
memory usage: 155.7+ KB

                                                 Review  Rating
9949  Madhumathi Mahajan Well to start with nice cou...       0
9950  This place has never disappointed us.. The foo...       1
9951  Bad rating is mainly because of "Chicken Bone ...      -1
9952  I personally love and prefer Chinese Food. Had...       1
9953  Checked in here to try some delicious chinese ...       1

In [35]:
corpus=[]
alpha_corpus=[]
for i in range(len(df)):
   corpus.append(' '.join([word.lower() for word in str(df['Review'][i]).split()]))
for i in range(len(df)):
   alpha_corpus.append(' '.join([word for word in corpus[i].split() if word.isalpha()]))
alpha_corpus[:5]

['the ambience was food was quite good had saturday lunch which was cost effective good place for a sate one can also chill with friends and or waiter soumen das was really courteous and',
 'ambience is too good for a pleasant service is very food is over all a good soumen das kudos to the service',
 'a must great food great thnx for the service by pradeep and my personal recommendation is penne alfredo also the music in the background is',
 'soumen das and arun was a great only because of their behavior and and good food off i would like to visit this place',
 'food is ordered kodi drumsticks and basket mutton all are thanks to he served we enjoyed ambience is also very']

In [36]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
removed_stop=[]
for i in range(len(alpha_corpus)):
   removed_stop.append(' '.join([word for word in alpha_corpus[i].split() if word not in stopwords.words('english')]))
removed_stop[:5]

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

['ambience food quite good saturday lunch cost effective good place sate one also chill friends waiter soumen das really courteous',
 'ambience good pleasant service food good soumen das kudos service',
 'must great food great thnx service pradeep personal recommendation penne alfredo also music background',
 'soumen das arun great behavior good food would like visit place',
 'food ordered kodi drumsticks basket mutton thanks served enjoyed ambience also']

In [37]:
Stemed_corpus=[]
from nltk.stem import PorterStemmer
ps=PorterStemmer()
for i in range(len(removed_stop)):
  Stemed_corpus.append(' '.join([ps.stem(word) for word in removed_stop[i].split()]))
Stemed_corpus[:5]

['ambienc food quit good saturday lunch cost effect good place sate one also chill friend waiter soumen da realli courteou',
 'ambienc good pleasant servic food good soumen da kudo servic',
 'must great food great thnx servic pradeep person recommend penn alfredo also music background',
 'soumen da arun great behavior good food would like visit place',
 'food order kodi drumstick basket mutton thank serv enjoy ambienc also']

In [38]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(ngram_range=(1,1))
X=cv.fit_transform(Stemed_corpus).toarray()

In [39]:
t=cv.get_feature_names()

In [40]:
X.shape

(9954, 9414)

In [41]:
y.shape

(9954,)

In [42]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,y,test_size=0.30)

In [43]:
import pandas as pd
count_df=pd.DataFrame(X_train,columns=cv.get_feature_names())
count_df.head()

   aa  aaamsutra  aachar  aachari  ...  zucchini  zyada  ànd  éclat
0   0          0       0        0  ...         0      0    0      0
1   0          0       0        0  ...         0      0    0      0
2   0          0       0        0  ...         0      0    0      0
3   0          0       0        0  ...         0      0    0      0
4   0          0       0        0  ...         0      0    0      0

[5 rows x 9414 columns]

In [44]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
rf.fit(X_train,Y_train)
pred=rf.predict(X_test)
from sklearn.metrics import confusion_matrix,accuracy_score

In [120]:
import pickle
with open('model.pkl', 'wb') as f:
  pickle.dump(rf, f)

In [45]:
accuracy_score(Y_test,pred)

0.7880816873116839

In [113]:
cor=[]
text="The food is very very good"
cor.append(' '.join([word.lower() for word in text.split()]))
alpha_cor=[]
for i in range(len(cor)):
   alpha_cor.append(' '.join([word for word in cor[i].split() if word.isalpha()]))
remove_stop=[]
for i in range(len(alpha_cor)):
   remove_stop.append(' '.join([word for word in alpha_cor[i].split() if word not in stopwords.words('english')]))
Stemed_cor=[]
from nltk.stem import PorterStemmer
ps=PorterStemmer()
for i in range(len(remove_stop)):
  Stemed_cor.append(' '.join([ps.stem(word) for word in remove_stop[i].split()]))
Stemed_cor[:5]

['food good']

In [114]:
import numpy as np
a1=np.zeros((1,9414))
a1.shape

(1, 9414)

In [115]:
d1=pd.DataFrame(a1,columns=cv.get_feature_names())

In [111]:
with open('get_feature_name.pkl', 'wb') as f:
  pickle.dump(t, f)

In [ ]:
with open('get_feature_name.pkl', 'rb') as f:
			l=pickle.load(f)
l

In [116]:
d1.head()

    aa  aaamsutra  aachar  aachari  ...  zucchini  zyada  ànd  éclat
0  0.0        0.0     0.0      0.0  ...       0.0    0.0  0.0    0.0

[1 rows x 9414 columns]

In [117]:
for i in Stemed_cor[0].split():
  if i in t:
    d1[i][0]=d1[i][0]+1.0

In [118]:
pred1=rf.predict(d1)

In [119]:
if(pred1==1):
  print("The Customer is very happy ")
elif(pred1==0):
  print("The Customer is Satisfied")
else:
  print("The Customer does not like it")

The Customer is very happy

In [109]:
from flask import Flask,render_template
# from ngrok import run_with_ngrok
app = Flask(__name__)
# run_with_ngrok(app)
@app.route('/')
def hello_world():
    return 'Hello World'
if __name__ == '__main__':
  app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)